<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">Symbol</th>
      <th class="text-right" scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let security of securities">
      <td>{{security.symbol}}</td>
      <td class="text-right">{{security.price | number:'.0-2'}}</td>
      <td class="text-right">
        <a class="small" [routerLink]="" (click)="addToFavorites(security)" *ngIf="!security.isFavorite">Add</a>
      </td>
    </tr>
  </tbody>
</table>
